* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

/* Header */

.navbar {
    display: flex;
    align-items: center;
    padding: 40px;
    height: 50px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    
}


/*
ul {
    display: inline-block;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    
}
*/
/*
a {
    text-decoration: none;
    color: #424144;
    font-weight: bold;
    font-size: 20px;
}
*/

p {
    color: #424144;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}

nav .menu li a:hover {
    border-bottom: 3px solid rgb(0, 115, 27);
}

nav .menu li .active {
    border-bottom: 3px solid rgb(0, 115, 27);
}

.intro {
    display: flex;
    padding: 50px;
    font-size: 40px;
    color: #424144;
    background-color: aliceblue;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
}

.describe {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.describe p {
    line-height:35px;
    font-size: 28px;
}

.details {
    line-height: 30px;
    padding-top: 35px;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
}

.note {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 200px;
    padding: 20px;
    padding-left: 150px;
}

.words {
    display: flex;
    align-items: center;
    background-color: rgba(135, 177, 255, 0.447);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.14), 0 16px 49px 0 rgba(0, 0, 0, 0.09);
}

.words p {
    font-size: 23px;
    padding-right: 20px;
    line-height: 25px;
}

.note-flex {
    display: flex;
}

.bubble {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
    color: #424144;
}

.stars {
    display: flex;
}

.stars img {
    padding-left: 50px;
}